{% extends 'admin/change_list.html' %}
{% load i18n %}

{% block object-tools-items %}
    <li>
        {% if opts.model_name == 'vlan' %}
        <a href="{% url 'admin:import_vlan_csv' %}" class="addlink">
        {% elif opts.model_name == 'indirizzoip' %}
        <a href="{% url 'admin:import_ip_csv' %}" class="addlink">
        {% else %}
        <a href="import-csv/" class="addlink">
        {% endif %}
            {% trans "Importa da CSV" %}
        </a>
    </li>
    {% if opts.model_name == 'indirizzoip' %}
    <li>
        <a href="{% url 'admin:export_all_ip_csv' %}" class="viewlink">
            {% trans "Esporta tutti CSV" %}
        </a>
    </li>
    {% elif opts.model_name == 'vlan' %}
    <li>
        <a href="{% url 'admin:export_all_vlan_csv' %}" class="viewlink">
            {% trans "Esporta tutte VLAN CSV" %}
        </a>
    </li>
    {% endif %}
    {{ block.super }}
{% endblock %} 